.user-message {
    text-align: right;
    padding-right: 5px;
    font-size: 18px;
}

.message {
    display: inline-flex;
    margin: 0px auto 0px auto;
    padding: 5px;
    font-size: 18px;
    color:white;
    border-radius: 20px;
    margin-top: 3px;
    background-color: #1976d2
}

.from-user {
    font-size: small;
    margin-bottom: 3px;
    margin-right: 5px;
}
